.ToDoItem__NightTheme {
    &-taskList-item {
        background-color: #7fffd4a6;
        padding: 10px 20px;
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
        
    }
}

.ToDoItem__DayTheme {
    &-taskList-item {
        background-color: rgb(39 209 17 / 45%);
        padding: 10px 20px;
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
    }
}

.ControllButtons{
            background-color: transparent;
            padding:0;
}