.ToDoItem__NightTheme {
    &-taskList-item {
        padding: 10px 20px;
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.Done {
            background-color: rgba(120, 124, 119, 0.685);
            color: #2e2d2d;
        }

        &.Process {
            background-color: #7fffd4a6;
        }
    }
}

.ToDoItem__DayTheme {
    &-taskList-item {
        padding: 10px 20px;
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.Done {
            background-color: rgba(144, 163, 141, 0.219);
            color: #2e2d2d;
        }

        &.Process {
            background-color: rgb(39 209 17 / 45%);
        }
    }

}

.ControllButtons {
    background-color: transparent;
    padding: 0;
}