.CalendarBody {
    &__NightThemeBox {
        padding: 20px;
        border-radius: 25px;
        color: #fff;
       
        font-weight: 600;
        box-shadow: 0px 2px 1px -1px rgb(255 255 255 / 76%), 0px 1px 1px 0px rgb(255 255 255), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    }

    &__DayThemeBox {
        padding: 20px;
        border-radius: 25px;
       
        font-weight: 600;
        color: #000;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }

    &__NightThemeBox:not(.CalendarBody__NightTheme-weekends, .CalendarBody__NightTheme-weekdays):hover {
        background-color: rgb(61, 50, 165) !important;
        cursor: pointer
    }

    &__DayThemeBox:not(.CalendarBody__DayTheme-weekends, .CalendarBody__DayTheme-weekdays):hover {
        background-color: rgba(216, 243, 216, 0.438) !important;
        cursor: pointer
    }

    &__DayThemeBox:not(.CalendarBody__DayTheme-weekends, .CalendarBody__DayTheme-weekdays):hover {
        background-color: rgba(216, 243, 216, 0.438) !important;
        cursor: pointer
    }

    &__NightTheme-OpenDay {
        color: #fed50f;
        font-weight: 700;
        box-shadow: 0px 3px 3px -2px rgb(255 255 255 / 76%), 0px 3px 4px 0px rgb(255 255 255), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    }

    &__DayTheme-OpenDay {
        color: #0a0a07;
        font-weight: 700;
        box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);

    }

    &__DayTheme {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 10px;

        &-weekdays {
            background-color: rgb(105, 255, 113);
            padding: 20px;
            border-radius: 25px;
        }

        &-weekends {
            background-color: rgb(175, 105, 255);
        }

        &-days:not(.CalendarBody__DayTheme-weekend, .CalendarBody__DayTheme-today) {
            background-color: rgb(211, 245, 171);
        }

        &-weekend {
            background-color: rgb(228, 209, 250);
        }

        &-today {
            background-color: rgba(34, 133, 21, 0.404);
        }

        &-outOfMonth {
            opacity: 0;
        }

        &-taskList {
            display: flex;
            gap: 5px;
            grid-gap: 5px;

            &-item {
                width: 10px;
                height: 10px;
                border-radius: 50px;
                background-color: #139907;
            }

        }

        &-taskListSMobile {
            text-align: center;
            position: relative;


            &-absolute {
                position: absolute;
                display: flex;
                gap: 5px;
                left: -6px;
                justify-content: center;
                width: 50px;

                &-item {
                    width: 8px;
                    height: 8px;
                    background-color: #ff0000;
                    border-radius: 50%;
                }
            }

        }

    }

    &__NightTheme {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 10px;


        &-weekdays {
            background-color: rgb(61, 50, 165);
        }

        &-weekends {
            background-color: rgb(101, 28, 116);
        }

        &-days:not(.CalendarBody__NightTheme-weekend, .CalendarBody__NightTheme-today) {
            background-color: rgb(64, 134, 214);
        }

        &-weekend {
            background-color: rgb(175, 105, 255);
        }

        &-today {
            background-color: rgba(39, 93, 196, 0.863);
        }

        &-outOfMonth {
            opacity: 0;
        }

        &-taskList {
            display: flex;
            gap: 5px;
            grid-gap: 5px;

            &-item {
                width: 10px;
                height: 10px;
                border-radius: 50px;
                background-color: rgb(0, 255, 234);
            }

        }

        &-taskListSMobile {
            text-align: center;
            position: relative;

            &-absolute {
                position: absolute;
                display: flex;
                gap: 5px;
                left: -6px;
                justify-content: center;
                width: 50px;

                &-item {
                    width: 8px;
                    height: 8px;
                    background-color: #aeb5fa;
                    border-radius: 50%;
                }
            }


        }
    }


}


@media only screen and (max-width: 992px) {
    .CalendarBody {
        &__NightThemeBox {
            text-align: center;
            padding: 5px 5px 15px 5px;

        }

        &__DayThemeBox {
            text-align: center;
            padding: 5px 5px 15px 5px;

        }
    }
}

@media only screen and (max-width: 500px) {
    .CalendarBody {
        &__NightTheme {
            gap: 5px
        }

        &__DayTheme {
            gap: 5px
        }
    }
}