// TODO rewrite double coding

.DaySchedule__DayTheme {
    background: #a5f19cba;
    height: 100vh;
    border-radius: 25px;
    // margin: 0 10px;
    padding: 10px 20px;

    // transition: transform 225ms cubic-bezier(0, 0, 0.2, 1);
    &-Header {
        display: flex;
        justify-content: space-between;

        &-Navigation {
            display: flex;
            align-items: center;
        }
    }

    &-Actions {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
    }

    &-taskList {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        margin-bottom: 25px;
    }
}

.DaySchedule__NightTheme {
    background: rgb(3, 42, 77);
    color: #fff;
    height: 100vh;
    border-radius: 25px;
    // margin: 0 10px;
    padding: 10px 20px;

    // transition: transform 225ms cubic-bezier(0, 0, 0.2, 1);
    &-Header {
        display: flex;
        justify-content: space-between;

        &-Navigation {
            display: flex;
            align-items: center;
        }
    }

    &-Actions {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
    }

    &-taskList {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        margin-bottom: 25px;
    }

}